DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=officecardprint
DB_USERNAME=officecardprint
DB_PASSWORD=

LDAP_HOST=
LDAP_PORT=389
LDAP_USE_TLS=true
LDAP_BASE_DN="DC=immigration,DC=local"
LDAP_BIND_USER=""
LDAP_BIND_PASSWORD=
LDAP_GROUP_DN="CN=GRS_Software,CN=ForeignSecurityPrincipals,DC=immigration,DC=local"
